section#cases {
    flex: 1;

    padding: 8vh 0;

    background-color: var(--color-primary);
}

.cases__content {
    max-width: 110rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 0 auto;
}

.cases__content>h2 {
    position: relative;

    font-size: calc(4rem + 2vw);
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 3rem;

    color: #fff;
}

.cases__content>h2::after {
    content: "";
    position: absolute;
    bottom: -3rem;
    left: 50%;
    transform: translateX(-50%);

    width: 30%;
    height: 0.3rem;

    background-color: var(--color-highlight);
}

.cases__content--case-container {
    width: 100%;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-gap: 2rem;
    

    margin-top: 3rem;
}

.cases__content--case-container>div {
    padding: 2rem;
    text-align: center;

    background-color: var(--color-secondary);
    box-shadow: -0.1rem 0 1rem rgba(0, 0, 0, 0.1);
    color: #fff;
}

.cases__content--case-container>div>img {
    width: calc(10rem + 10vw);
    height: auto;
}

.cases__content--case-container>div>h4 {
    font-size: calc(1.5rem + 1vw);

    color: #fff;
}

.cases__content--button {
    padding: calc(1rem + 1vw) calc(2rem + 1vw);

    font-weight: bold;

    background-color: var(--color-highlight);
    color: #fff;
}

@media screen and (max-width: 1100px) {
    .cases__content {
        max-width: 88rem;
    }
}

@media screen and (max-width: 880px) {
    section#cases {
        padding: 2rem;
    }
}