/*-*-*-*-*-*-*-*-*-* Reset *-*-*-*-*-*-*-*-*-*/
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*-*-*-*-*-*-*-*-*-* Imported Contents  *-*-*-*-*-*-*-*-*-*/
@import url('https://fonts.googleapis.com/css2?family=Inria+Serif&family=Ubuntu&display=swap');

/*-*-*-*-*-*-*-*-*-* Reusable Components  *-*-*-*-*-*-*-*-*-*/
:root {
    font-size: 62.5%;
    /* 1rem = 10px */

    --color-primary: #282A6B;
    --color-primary-m-light: rgba(40, 42, 107, 0.7);

    --color-secondary: #2e3a89;

    --color-highlight: #e7b036;

    --color-text-dark: #b7b7b7;

    --transition-duration: 0.4s;
}

body {
    font-family: 'Ubuntu', sans-serif;
}

a:link,
a:visited {
    text-decoration: none;
    position: relative;

    font-size: calc(1rem + 0.5vw);
    text-transform: uppercase;
}

li {
    list-style: none;
}

p {
    font-family: 'Inria Serif', serif;
}

img {
    object-fit: cover;
}