/*-*-*-*-*-*-*-*-*-* Reset *-*-*-*-*-*-*-*-*-*/
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*-*-*-*-*-*-*-*-*-* Reusable Components  *-*-*-*-*-*-*-*-*-*/
:root {
    font-size: 62.5%; /* 1rem = 10px */
  
    --color-primary: #282A6B;
    --color-primary-m-light: rgba(40, 42, 107, 0.7);
  
    --color-secondary: #2e3a89;
  
    --color-highlight: #e7b036;

    --color-text-dark: #b7b7b7;

    --transition-duration: 0.4s;
}

a:link,
a:visited {
    text-decoration: none;
    position: relative;
}

li {
    list-style: none;
}